<h1>Dwarves</h1>
    <br>
    <div class="alignadd"><%= link_to "Add", new_dwarf_path%></div>
  <div class="row">
    <% @dwarves.each do |dwarf| %>
       <div class="col-xs-12 col-sm-4">
          <div class="card-product">
          <% if dwarf.picture.attached?%>
            <%= cl_image_tag dwarf.picture.key, height: 50, width: 50, crop: :fill %>
          <% end %>
              <div class="card-product-infos">
                <h2><%= dwarf.name %></h2>
                <p><strong><%= dwarf.price %></strong></p>
              </div>
            <p> <%=dwarf.availability ? "available" : "not available"%></p>
            <br>
            <%= link_to "More", dwarf_path(dwarf)%>
          </div>
        </div>
    <%end%>
  </div>
