<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<% if policy(Dwarf).create? %>
  <%= link_to "New Dwarf", new_dwarf_path %>
<% end %>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="card-dwarf">
    <% @dwarves.each do |dwarf| %>
     <div class="box">
        <div class="img">
          <% if dwarf.picture.attached?%>
              <%= cl_image_tag dwarf.picture.key %>
            <% else %>
              <img src="https://cdn.icon-icons.com/icons2/1769/PNG/512/4092564-about-mobile-ui-profile-ui-user-website_114033.png">
          <% end %>
        </div>
        <h2>
          <%= dwarf.name %>
          <br>
          <span><%= dwarf.localisation %></span>
        </h2>
        <p><%= dwarf.description %></p>
        <span class="flex-column align-items-center">
            <ul class='d-flex'>
                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            </ul>
            <div class='d-flex'>
              <%= link_to "More", dwarf_path(dwarf)%>

                <% if policy(dwarf).destroy? %>
                  <%= link_to "Delete", dwarf_path(dwarf), method: "delete", data: { confirm: "Are you sure?" }%>
                <% end %>

            </div>
        </span>
      </div>
     <% end %>
</div>
