<div class ="full-container">
  <h1>Rent my dwarf</h1>

  <div class ="container">
    <div class="form">
      <%= simple_form_for(@dwarf) do |f| %>

        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :localisation %>
        <%= f.input :picture, as: :file %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
