<h1>Dwarf</h1>
<h2><%= @dwarf.price %></h2>
<h1><%= @dwarf.name %></h1>
<p><%= @dwarf.description %></p>
<p><%= @dwarf.localisation %></p>
<p><%= @dwarf.availability %></p>
<p><%= cl_image_tag @dwarf.picture.key, height: 300, width: 400, crop: :fill %></p>
